{"is_source_file": false, "format": "", "description": "", "external_files": [], "external_methods": [], "published": [], "classes": [], "methods": [], "calls": [], "search-terms": [], "state": 2, "file_id": 43, "knowledge_revision": 88, "git_revision": "", "hash": "170f2d3dbc4d058f73a430e7a17a19f0", "format-version": 4, "code-base-name": "default", "filename": "expense_backend_workspace/expense_backend/requirements.txt", "revision_history": [{"88": ""}]}